language: python
sudo: false
python:
  - "3.8"
  - "3.7"
  - "3.6"
  - "3.5"
  - "2.7"
branches:
  only:
    - develop
install:
  - "pip install --upgrade pytest"
  - "pip install pytest-cov"
  - "pip install ."
script:
  - "cd test"
  - "pytest --cov-report=xml --cov=pybtex_docutils ."
after_success:
  - bash <(curl -s https://codecov.io/bash)
