include VERSION
include README.rst
include CHANGELOG.rst
include LICENSE.rst
include requirements.txt
include mypy.ini
include pytest.ini
include .coveragerc
include .flake8
recursive-include doc *
recursive-include test *
global-exclude *.pyc
global-exclude .gitignore
prune doc/_build
