include VERSION
include README.rst
include INSTALL.rst
include CHANGELOG.rst
include LICENSE.rst
include requirements.txt
include mypy.ini
include pytest.ini
recursive-include doc *
recursive-include test *
global-exclude *.pyc
global-exclude .gitignore
prune doc/_build
include pybtex_docutils/py.typed
